@charset "utf-8";
/* CSS Document */
snacks {
	float: left
}
body {
	
	margin:0 auto 0 auto;
	width:1000px
}
h1 {
	font-family: "Adobe Arabic";
	font-size: 70px;
	font-style: inherit;
	color: #F00;
	text-align:center;
	 
}
h2 {
	font-family: "Blackadder ITC";
	font-size: 36px;
	font-style: normal;
	color: #FF0;
	text-align: center
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-style: italic;
	color: #FF0
}
ul li {
	font-family: "Blackadder ITC";
	font-size: 24px;
	font-style: italic;
	color: #F0F
}
p {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 18px;
	font-style: oblique;
	color: #000
}
#breakfast {
	font-family: "Blackadder ITC";
	color: #00F
}
.panel {
	float: left
}
.scroll {
    background color:#0F0;
	width: 120px;
	height: 120px;
	overflow: scroll
}
pi {
	font-family: "Adobe Arabic";
	font-size: 24px;
	font-style: oblique;
	text-align: center;
	color: #F00
}
#wrapper { margin:0 auto;
background-image: url(../../../quiz7/assets/images/pictures/vector-background-patterns-flower-art-568183.jpg);
}
body {
	background-color: #FF0;
	height: 2300px;
	border-image: repeat;
	border-style: dashed;
	border-color: #FF0;
	border-left: dashed;
	border-right: dashed;
	border-left-width: thick;
	border-right-width: thick;
	border-left-width: thick;
	border-right-width: thick;
	border-bottom-width: thick;
	border-top-width: thick;
	border-bottom-color: #F00;
	/* [disabled]border-left-color:#F00; */
	border-right-color: #F00;
	border-right-color: #F00;
	border-top-color: #F00
	
	 
	
}
pt {
	font-family: "Blackadder ITC";
	font-size: 24px;
	font-style: italic;
	color: #00F;
	text-shadow: 3px 3px #FF00FF
}
#footer{text-align:center;
}
#resturant{
	float:right;
	padding:opx 40px opx;
	}
.test{
	float:right;
	}
