@charset "utf-8";
/* CSS Document */
.test{width:30%; float:left; height:650px}
#red{font-family:"Blackadder ITC"; font-size:18px; font-style:normal; color:#0F0; background-color:#FF0}
#blue{ font-family:"Adobe Arabic"; font-size:18px; font-style:italic; color:#0FF; background-color:#F0F}
#green{ font-family:"Lucida Console", Monaco, monospace; font-size:14px; font-style:oblique; color:#999; background-color:#0FF}
#maroon{font-family:Verdana, Geneva, sans-serif; font-size:16px; font-style:inherit; color:#63C; background-color:#CF3}
h1{font-family: "MS Serif", "New York", serif; font-size:24px; text-decoration:underline; text-emphasis: before}
body{ border:#F00; border:dotted; background-color:#FCF}
#footer{width:900px; margin:auto}
#wrapper{border:#F00; border:dashed; border-bottom-width:thick; border-color:}
img{opacity:0.4; filter:alpha(opacity=40);/*for IE8 and earlier*/}