@charset "utf-8";
/* CSS Document */
#wrapper{
	margin: 0 auto;
	background-color:#FFFFF0;
	min-height:600px;
	max-width: 900px;
	box-shadow: 0px 0px 5px  #C0C0C0;
}

body{
	background-color:#E6E6FA;
}

h3{
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	padding:40px 0px 5px 10px;

}

#shakers{
	font-size:0.9em;
	font-family: sans-serif;
	text-align: center;
	padding: 6px;
	color: #9D9A9A;
	padding: 10px 40px ;
}

#Login{
	float:left;
	padding-top:-20px;
	height: 300px;
	width: 400px;
	margin-left: 20px;
	padding-left: 10px;
}

#New{
	float: left;
	height: 300px;
	width:400px;
	margin-left: 20px;
	padding-left: 10px;
}

input[type=text]{
	border: 1px  1px #000;
	padding: 8px;
	font-family: sans-serif;
	color: #9D9A9A;
	

}

#tick{
	 background-image: url(../images/ryt.jpg);
    background-position:140px 5px;
    background-repeat: no-repeat;
}

#wrong{
	 background-image: url(../images/wrong.jpg);
    background-position: 140px 7px;
    background-repeat: no-repeat;

}


p{
	font-family: sans-serif;
	color: #9D9A9A;
}

h4{
	font-family: sans-serif;
	font-size: 0.9em;
	text-align: left;
	color: #9D9A9A;
}
hr{
	width:800px;
}

#button{
	padding:15px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #C0C0C0;
	font-family:sans-serif;
	background-color: #FFFFF0;
	font-size: 1.0em;
}

section{
	 padding:10px  5px 10px 20px;
}
