@charset "utf-8";
/* CSS Document */
#wrapper{margin:0 auto 0 auto;
	  width:70%;
	  height: 100%;
	  background-color:#E9D2D2;

	  
}
/*.image_2{
    float:left;
    padding-bottom: 40px;

}
/*.image_4{
    float: left;
}*/

#babs{
	margin:25px;
	margin-right: 8px;
}
img{
    margin:9px;


h2{
	font-family: vijaya;
	text-align: center;
	text-shadow:2px 2px red;
	font-size: 40px;
}
body{
	background-color:#0186ba; 
}


.image_1{
    width: 50%;
}
.image_2{
    width: 50%;
}
.image_3{
    width: 50%;
}
.image_4{
    width: 50%;
}

