@charset "utf-8";
/* CSS Document */
#wrapper {
	margin: 0 auto 0 auto;
	width: 1000px;
	border:solid 2px #90F;
	 background-image:url(../images/pictures/Background%20Image%20pics%201024X768.jpg);
}
	
body{ background-color:#0F0;
}
h1 {
	font-family: "Blackadder ITC";
	font-size: 36px;
	font-style: normal;
	color: #0F0;
	text-shadow: 2px 2px #FFFF00;	
	text-align: center;
}
p {
	font-family: "Adobe Arabic";
	font-size: 24px;
	font-style: italic;
	color: #F0F;
}
h2 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 36px;
	font-style: italic;
	text-align: center;
	text-shadow: 2px 2px #F00;
	color: #333;
}
ul li {
	display: inline;
	list-style: none;
	padding:0px 0px 0px 200px;
	border:#F0F;
	border:ridge;
	color:#0FF;
}

.panel{float:left;}
#maroon {
	width: 50%;
	float: left;
}
#red{
	float:left;
	 width:50%;
}
h3{font-family:"Adobe Arabic"; 
       font-size:49px; 
      font-style:normal;
	  text-align:center;
	  text-shadow:2px 2px #630;
	  color:#FF0;